In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import tqdm
import numpy as np

동별 유동인구 데이터

In [3]:
d_data = pd.read_csv('d_data.csv', encoding = 'cp949')
d_data.head()
#각 동별 유동인구 데이터

,Unnamed: 0,gid,lbl,val,geometry,level_0,index,code_x,populations,code_c,...,시군구명,법정동명,행정동명,적용시작일,적용만료일,code_y,x,y,name,d_code
0,0,11440102,1000,67.74,"POLYGON ((951189.2911164177 1949696.282412084,...",0,0,11440555,2.042815e+07,11440,...,마포구,공덕동,아현동,20080107,99991231,102,37.547105,126.952160,마포구 아현동,11440102
1,1,11440102,1000,67.74,"POLYGON ((951189.2911164177 1949696.282412084,...",18,18,11440610,9.313344e+06,11440,...,마포구,공덕동,염리동,20150723,99991231,102,37.547066,126.945649,마포구 염리동,11440102
2,2,11440103,1000,61.25,"POLYGON ((952116.8510885845 1949903.586360816,...",3,3,11440565,2.929401e+07,11440,...,마포구,신공덕동,공덕동,20080107,99991231,103,37.544423,126.955007,마포구 공덕동,11440103
3,3,11440107,1000,42.14,"POLYGON ((950932.2036225148 1949085.961713784,...",7,7,11440585,1.674282e+07,11440,...,마포구,마포동,도화동,20070101,99991231,107,37.540035,126.952520,마포구 도화동,11440107
4,4,11440110,1000,56.78,"POLYGON ((950833.0254757641 1950729.717596134,...",15,15,11440600,1.910087e+07,11440,...,마포구,노고산동,대흥동,19880423,99991231,110,37.554175,126.940118,마포구 대흥동,11440110

In [20]:
d_data = gpd.read_file('d_data.shp', encoding = 'cp949')

In [21]:
d_data.head()

,gid,lbl,val,population,geometry
0,11440101,02000,40.44,2.929401e+07,"POLYGON ((951328.638 1950991.976, 951330.606 1..."
1,11440102,01000,67.74,2.929401e+07,"POLYGON ((951189.291 1949696.282, 951196.556 1..."
2,11440103,01000,61.25,2.929401e+07,"POLYGON ((952116.851 1949903.586, 952127.203 1..."
3,11440104,01000,53.36,2.929401e+07,"POLYGON ((951979.679 1949190.013, 951981.036 1..."
4,11440101,02000,40.44,2.042815e+07,"POLYGON ((951328.638 1950991.976, 951330.606 1..."

생산가능인구

In [22]:
vl_blk = gpd.read_file('07.V_POP/vl_blk.shp', encoding = 'cp949')

In [23]:
vl_blk.head()

        gid   lbl  val                                           geometry
0  다사429525  None  NaN  POLYGON ((942900.000 1952500.000, 942900.000 1...
1  다사429526  None  NaN  POLYGON ((942900.000 1952600.000, 942900.000 1...
2  다사429527  None  NaN  POLYGON ((942900.000 1952700.000, 942900.000 1...
3  다사429528  None  NaN  POLYGON ((942900.000 1952800.000, 942900.000 1...
4  다사429529  None  NaN  POLYGON ((942900.000 1952900.000, 942900.000 1...

주용도코드

In [24]:
b_code = gpd.read_file('99.B_BUILD_CODE/vl_blk.shp', encoding = 'cp949')
b_code.head()

        gid   lbl  val                                           geometry
0  다사429525  None  NaN  POLYGON ((942900.000 1952500.000, 942900.000 1...
1  다사429526  None  NaN  POLYGON ((942900.000 1952600.000, 942900.000 1...
2  다사429527  None  NaN  POLYGON ((942900.000 1952700.000, 942900.000 1...
3  다사429528  None  NaN  POLYGON ((942900.000 1952800.000, 942900.000 1...
4  다사429529  None  NaN  POLYGON ((942900.000 1952900.000, 942900.000 1...

In [25]:
b_code.reset_index(inplace = True)

In [26]:
b_code.to_file('b_code.shp', encoding = 'cp949')

상권유동인구 데이터

In [10]:
market_area = pd.read_csv('market_area.csv', encoding = 'cp949')

In [11]:
market_area.head(5)

,Unnamed: 0,code,populations,name,x,y,X,Y
0,0,1000458,1164943,광성로6길,37.549513,126.936671,194578,449861
1,1,1000459,1482185,대흥로21길,37.545634,126.938695,194970,450521
2,2,1000460,1115615,대흥로28길,37.547106,126.941870,195318,450623
3,3,1000461,703465,도화4길,37.537972,126.950394,195659,448858
4,4,1000462,1726932,도화길,37.541531,126.949875,195575,449041

In [12]:
market_area['pop'] = np.nan

QGIS Natural Break 기준에 따라 분류

In [13]:
for i in range(len(market_area)):
    if market_area['populations'][i] < 669713:
        market_area['pop'][i] = 1
    elif 669713 <= market_area['populations'][i] < 1237345:
        market_area['pop'][i] = 2
    elif 1237345 <=market_area['populations'][i] < 2228397:
        market_area['pop'][i] = 3
    elif 2228397 <=market_area['populations'][i] < 6856474:
        market_area['pop'][i] = 4
    elif 6856474 <=market_area['populations'][i] < 24909786:
        market_area['pop'][i] = 5
    else:
        market_area['pop'][i] = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [14]:
market_area['pop'].unique()

array([2., 3., 1., 4., 5., 0.])

In [6]:
street = ['광성로6길', '대흥로21길', '대흥로28길', '도화4길', '도화길', '독막로22길', '독막로32길',
       '독막로8길', '동교로17길', '동교로19길', '동교로25길', '동교로27길', '동교로38길',
       '마포대로12길', '마포대로20길', '마포대로4길', '만리재옛길', '망원로11길', '망원로2길',
       '매봉산로2길', '모래내로7길', '방울내로9안길', '백범로16길', '성미산로11길', '성미산로1길',
       '성미산로32길', '성산로4길', '성지3길', '숭문8길', '숭문길', '신촌로12길', '신촌로28가길',
       '신촌로30길', '양화로11길', '양화로1길', '양화진길', '와우산로29가길', '와우산로29길',
       '와우산로3길', '월드컵로10길', '월드컵로11길', '월드컵로16길', '월드컵로19길', '월드컵로25길',
       '월드컵로36길', '월드컵로7길', '월드컵로8길', '토정로37길', '효창원로93길', '서울 마포구 마포역_1',
       '서울 마포구 마포역_2', '서울 마포구 공덕역_1', '공덕역', '서울 마포구 공덕역_2',
       '서울 마포구 홍대입구역_1', '신촌역', '홍익대학교 주변', '서울 마포구 홍대입구역_2',
       '서울 마포구 홍대입구역_3', '디지털미디어시티', '공덕시장', '마포시장', '아현시장', '신수시장',
       '서교시장', '영진시장', '합정시장', '망원시장', '망원월드컵시장', '동진시장', '마포농수산물시장']
zero = []
for i in range(len(street)):
    zero.append(0)
df = pd.DataFrame(street, zero).reset_index()

In [8]:
df.columns = ['index', 'name']
df = df[['name','index']]

전처리한 마포구 외부 와이파이 자료

In [15]:
wifi_out = pd.read_csv('wifi_out.csv', encoding = 'cp949')

In [16]:
wifi_out.head(1)

,Unnamed: 0,구명,유형,설치주소,지역명,상세설치장소,설치기관(회사),설치위치(X좌표),설치위치(Y좌표),콘텐츠아이디
0,0,마포구,공원,난지도캠핑장,서울특별시 마포구 한강난지로 28,한강야생탐사센터 옥상,LGU+,126.872436,37.570158,WF111160

각 상권이 포함되는 격자의 번호를 매핑한 데이터 불러오기

In [17]:
df1 = pd.read_csv('df.csv', encoding = 'cp949')

불러온 데이터 파악

In [18]:
df1.head(1)

    name     1       2       3   4   5   6   7   8   9  10  11  12  13
0  광성로6길  2123  2102.0  2081.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [27]:
b_code.head(1)

,index,gid,lbl,val,geometry
0,0,다사429525,None,NaN,"POLYGON ((942900.000 1952500.000, 942900.000 1..."

In [28]:
vl_blk.head(1)

        gid   lbl  val                                           geometry
0  다사429525  None  NaN  POLYGON ((942900.000 1952500.000, 942900.000 1...

In [29]:
market_area.head(1)

,Unnamed: 0,code,populations,name,x,y,X,Y,pop
0,0,1000458,1164943,광성로6길,37.549513,126.936671,194578,449861,2.0

In [92]:
df2 = pd.merge(b_code[['index','lbl','geometry']], vl_blk[['val','geometry']], on = 'geometry')

In [177]:
df2.head()

,index,lbl,geometry,val,com,pop
0,0,None,"POLYGON ((942900.000 1952500.000, 942900.000 1...",NaN,NaN,0

In [473]:
df2['popu'] = .0
df2['pop'] = .0

In [404]:
ddf = pd.merge(df1, market_area[['populations','name','pop']], on = 'name')

In [405]:
ddf.head(1)

,name,1,2,3,4,5,6,7,8,9,10,11,12,13,populations,pop
0,광성로6길,2123,2102.0,2081.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1164943,2

In [474]:
ddf['group'] = '0'

상권별 상권 분류

In [487]:
for i in range(len(ddf)):
    if '길' in ddf['name'][i]:
        ddf['group'][i] = '골목 상권'
    elif '시장' in ddf['name'][i]:
        ddf['group'][i] = '전통 시장'
    else:
        ddf['group'][i] = '주요 상권'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [488]:
ddf.head()

,name,1,2,3,4,5,6,7,8,9,10,11,12,13,populations,pop,group
0,광성로6길,2123,2102.0,2081.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1164943,2,골목 상권
1,대흥로21길,2204,2230.0,2255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1482185,3,골목 상권
2,대흥로28길,2258,2283.0,2307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1115615,2,골목 상권
3,도화4길,2335,2336.0,2361.0,2365.0,2363.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,703465,2,골목 상권
4,도화길,2265,2280.0,2314.0,2315.0,2339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1726932,3,골목 상권

In [476]:
df2['group'] = '0'

100m 격자에 상권이 있는 경우 격자 데이터에 상권명 표시

In [489]:
for i in range(len(ddf)):
    for j in range(1,14):
        if ddf.iloc[i,j] > 0:
            num = ddf.iloc[i,j]
            #df2['popu'][num] += ddf['pop'][i]
            df2['group'][num] = ddf['group'][i]
        else:
            break

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [478]:
df2['pop'] =df2['popu']

#### 주용도코드 상권 및 주거지역 분리
#### 생산가능인구 Natural Break에따라 분리

In [479]:
for i in range(len(df2)):
    if df2['lbl'][i] == None:
        df2['pop'][i] += 0
    elif df2['lbl'][i] == '01000' or df2['lbl'][i] == '02000':
        df2['pop'][i] += 2.5
    elif df2['lbl'][i] == '03000' or df2['lbl'][i] == '04000':
        df2['pop'][i] += 5
    
    if 0 < df2['val'][i] < 115:
        df2['pop'][i] += 1
    elif 115 <= df2['val'][i] < 252:
        df2['pop'][i] += 2
    elif 252 <= df2['val'][i] < 408:
        df2['pop'][i] += 3
    elif 408 <= df2['val'][i] < 644:
        df2['pop'][i] += 4
    elif 644 <= df2['val'][i] < 1212:
        df2['pop'][i] += 5    
    else:
        df2['pop'][i] += 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [251]:
df2.to_file('ex_wifi.shp', encoding = 'cp949')

In [252]:
df2.to_csv('ex_wifi.csv', encoding = 'cp949')

wifi가 기존에 설치되어 있는 격자 구분

In [414]:
wifi_point = [190, 250, 251, 225, 226, 273, 274, 296, 297, 375, 376, 615, 655, 899, 888, 926, 1070, 1032, 1031, 650, 1254, 1253, 1252, 1251, 1292, 1291, 1290, 
              1289,1288, 1460, 1493, 1698, 1728, 1756, 1755, 1754, 1785, 1784, 1816, 1815, 1714, 1782, 1810, 1779, 1778, 1809, 1840, 1869, 1925, 1924, 1717, 
              1746, 1776, 1807, 1838, 1868,1716, 1745, 1775, 1806, 1837, 1867, 1897, 1946, 1715, 1744, 1774, 1805, 1836, 1866, 1896, 1922, 1714, 1743, 1773, 
              1804, 1835, 1865, 1713, 1712, 1742, 1772, 1803, 1744, 1774, 1804, 1996, 1869, 1289, 1288, 1253,1490, 1814, 2242 ,2190, 2240, 2368,
              2066, 2087, 2234, 2259, 2258, 2491, 2253, 2443, 2442, 2420, 2395, 2394, 2393, 2368, 2317, 2340, 2165, 2190, 2242, 2217, 2241, 2216, 2266, 2240 ]

In [446]:
df2['wifi'] = 0

In [447]:
for i in range(len(df2)):
    if df2['index'][i] in wifi_point:
        df2['wifi'][i] = 0
    else:
        df2['wifi'][i] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [416]:
df2['wifi'].unique()

array([1, 0], dtype=int64)

In [480]:
df2['f_score'] = .0
for i in range(len(df2)):
    df2['f_score'][i] = df2['pop'][i] * df2['wifi'][i]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [481]:
df2[1774:1776]

,index,lbl,geometry,val,pop,wifi,f_score,center_x,center_y,x,y,address,popu,group
1774,1774,04000,"POLYGON ((949000.000 1950600.000, 949000.000 1...",280.0,8.0,0,0.0,949050,1950650,126.923159,37.553685,대한민국 서울특별시 마포구 서교동 358-11,0.0,주요 상권
1775,1775,04000,"POLYGON ((949000.000 1950700.000, 949000.000 1...",23.0,6.0,0,0.0,949050,1950750,126.923159,37.554580,대한민국 서울특별시 마포구 서교동 345-21,0.0,0

In [258]:
str(df2['geometry'][1]).split(' ')

['POLYGON',
 '((942900',
 '1952600,',
 '942900',
 '1952700,',
 '943000',
 '1952700,',
 '943000',
 '1952600,',
 '942900',
 '1952600))']

In [265]:
int(str(df2['geometry'][1]).split(' ')[2].replace(',',''))

1952600

In [262]:
int(str(df2['geometry'][1]).split(' ')[3])

942900

In [397]:
df2['x'] = .0
df2['y'] = .0

각 격자의 중심점에 대한 좌표

In [398]:
for i in range(len(df2)):
    df2['center_x'][i] = int(str(df2['geometry'][i]).split(' ')[3]) + 50
    df2['center_y'][i] = int(str(df2['geometry'][i]).split(' ')[2].replace(',','')) + 50

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

1250번 격자 중심점의 위도 및 경도 표시

In [399]:
df2['x'][1250] = 126.905079 
df2['y'][1250] = 37.555475

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1250번 격자를 기준으로 모든 격자의 위도, 경도 표시

In [400]:
for i in range(len(df2)):
    df2['x'][i] = float(126.905079 - (df2['center_x'][1250] - df2['center_x'][i])/100 * 0.00113)
    df2['y'][i] = float(37.555475 - (df2['center_y'][1250] - df2['center_y'][i])/100 * 0.000895)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [401]:
print(df2.iloc[1097]['y'],',',df2.iloc[1097]['x'])

37.55816 , 126.900559

In [490]:
df2.sort_values(by = 'f_score', ascending = False).head(50)

,index,lbl,geometry,val,pop,wifi,f_score,center_x,center_y,x,y,address,popu,group
2504,2504,04000,"POLYGON ((952100.000 1950400.000, 952100.000 1...",378.0,12.0,1,12.0,952150,1950450,126.958189,37.551895,대한민국 서울특별시 마포구 아현동 420-1,4.0,골목 상권
2265,2265,03000,"POLYGON ((951100.000 1949000.000, 951100.000 1...",0.0,12.0,1,12.0,951150,1949050,126.946889,37.539365,대한민국 서울특별시 마포구 도화동 250-10,7.0,주요 상권
2314,2314,04000,"POLYGON ((951300.000 1949100.000, 951300.000 1...",272.0,11.0,1,11.0,951350,1949150,126.949149,37.540260,대한민국 서울특별시 마포구 도화동 548,3.0,골목 상권
2283,2283,01000,"POLYGON ((951100.000 1950800.000, 951100.000 1...",256.0,10.5,1,10.5,951150,1950850,126.946889,37.555475,대한민국 서울특별시 마포구 염리동 9-43,5.0,골목 상권
1328,1328,03000,"POLYGON ((947600.000 1951100.000, 947600.000 1...",104.0,10.0,1,10.0,947650,1951150,126.907339,37.558160,대한민국 서울특별시 마포구 망원2동 482-5,4.0,골목 상권
1593,1593,04000,"POLYGON ((948400.000 1950600.000, 948400.000 1...",124.0,10.0,1,10.0,948450,1950650,126.916379,37.553685,대한민국 서울특별시 마포구 서교동 월드컵로8길 77,3.0,골목 상권
2440,2440,04000,"POLYGON ((951800.000 1949900.000, 951800.000 1...",537.0,10.0,1,10.0,951850,1949950,126.954799,37.547420,대한민국 서울특별시 마포구 아현동 마포대로12길 31,1.0,골목 상권
2315,2315,03000,"POLYGON ((951300.000 1949200.000, 951300.000 1...",137.0,10.0,1,10.0,951350,1949250,126.949149,37.541155,"15-2, 새창로2길 도화동 마포구 서울특별시 대한민국",3.0,골목 상권
2248,2248,01000,"POLYGON ((951000.000 1949800.000, 951000.000 1...",418.0,9.5,1,9.5,951050,1949850,126.945759,37.546525,대한민국 서울특별시 마포구 염리동 146-25,3.0,골목 상권
2486,2486,01000,"POLYGON ((952000.000 1950400.000, 952000.000 1...",365.0,9.5,1,9.5,952050,1950450,126.957059,37.551895,대한민국 서울특별시 마포구 아현동 425-13,4.0,골목 상권
1358,1358,01000,"POLYGON ((947700.000 1950500.000, 947700.000 1...",340.0,9.5,1,9.5,947750,1950550,126.908469,37.552790,대한민국 서울특별시 마포구 합정동 432-31,4.0,골목 상권
1357,1357,01000,"POLYGON ((947700.000 1950400.000, 947700.000 1...",431.0,9.5,1,9.5,947750,1950450,126.908469,37.551895,대한민국 서울특별시 마포구 합정동 435-7,3.0,골목 상권
1179,1179,01000,"POLYGON ((947200.000 1951500.000, 947200.000 1...",585.0,9.5,1,9.5,947250,1951550,126.902819,37.561740,대한민국 서울특별시 마포구 망원2동 470-3,3.0,골목 상권
1095,1095,02000,"POLYGON ((947000.000 1950900.000, 947000.000 1...",436.0,9.5,1,9.5,947050,1950950,126.900559,37.556370,대한민국 서울특별시 마포구 망원동 417-1,3.0,골목 상권
1100,1100,02000,"POLYGON ((947000.000 1951400.000, 947000.000 1...",510.0,9.5,1,9.5,947050,1951450,126.900559,37.560845,대한민국 서울특별시 마포구 망원동 466-14,3.0,골목 상권
1025,1025,02000,"POLYGON ((946800.000 1951300.000, 946800.000 1...",450.0,9.5,1,9.5,946850,1951350,126.898299,37.559950,대한민국 서울특별시 마포구 망원동 464-59,3.0,골목 상권
1392,1392,02000,"POLYGON ((947800.000 1950400.000, 947800.000 1...",441.0,9.5,1,9.5,947850,1950450,126.909599,37.551895,대한민국 서울특별시 마포구 합정동 430-10,3.0,골목 상권
2335,2335,01000,"POLYGON ((951400.000 1948800.000, 951400.000 1...",1011.0,9.5,1,9.5,951450,1948850,126.950279,37.537575,대한민국 서울특별시 마포구 도화동 도화2길 77,2.0,골목 상권
1617,1617,04000,"POLYGON ((948500.000 1949900.000, 948500.000 1...",130.0,9.0,1,9.0,948550,1949950,126.917509,37.547420,대한민국 서울특별시 마포구 합정동 362-9,2.0,골목 상권
1615,1615,04000,"POLYGON ((948500.000 1949700.000, 948500.000 1...",132.0,9.0,1,9.0,948550,1949750,126.917509,37.545630,대한민국 서울특별시 마포구 합정동 358-6,2.0,골목 상권
2370,2370,03000,"POLYGON ((951500.000 1949800.000, 951500.000 1...",498.0,9.0,1,9.0,951550,1949850,126.951409,37.546525,대한민국 서울특별시 마포구 공덕동 371,0.0,0
1686,1686,04000,"POLYGON ((948700.000 1950700.000, 948700.000 1...",10.0,9.0,1,9.0,948750,1950750,126.919769,37.554580,대한민국 서울특별시 마포구 서교동 352-25,3.0,주요 상권
1424,1424,03000,"POLYGON ((947900.000 1950100.000, 947900.000 1...",27.0,9.0,1,9.0,947950,1950150,126.910729,37.549210,대한민국 서울특별시 마포구 합정동 382-39,3.0,골목 상권
2414,2414,03000,"POLYGON ((951700.000 1949500.000, 951700.000 1...",421.0,9.0,1,9.0,951750,1949550,126.953669,37.543840,대한민국 서울특별시 마포구 신공덕동 26-10,0.0,0
2466,2466,03000,"POLYGON ((951900.000 1950400.000, 951900.000 1...",461.0,9.0,1,9.0,951950,1950450,126.955929,37.551895,대한민국 서울특별시 마포구 아현동 435-4,0.0,0
2339,2339,04000,"POLYGON ((951400.000 1949200.000, 951400.000 1...",80.0,9.0,1,9.0,951450,1949250,126.950279,37.541155,대한민국 서울특별시 마포구 도화동 6-69,3.0,골목 상권
936,936,04000,"POLYGON ((946500.000 1953400.000, 946500.000 1...",64.0,9.0,1,9.0,946550,1953450,126.894909,37.578745,대한민국 서울특별시 마포구 상암동 3-4,3.0,골목 상권
1915,1915,03000,"POLYGON ((949500.000 1949900.000, 949500.000 1...",329.0,9.0,1,9.0,949550,1949950,126.928809,37.547420,대한민국 서울특별시 마포구 창전동 독막로 136,1.0,골목 상권
1898,1898,04000,"POLYGON ((949400.000 1950800.000, 949400.000 1...",168.0,9.0,1,9.0,949450,1950850,126.927679,37.555475,대한민국 서울특별시 마포구 서교동 와우산로29길 41,2.0,골목 상권
1626,1626,04000,"POLYGON ((948500.000 1950800.000, 948500.000 1...",123.0,9.0,1,9.0,948550,1950850,126.917509,37.555475,대한민국 서울특별시 마포구 서교동 461-23,2.0,골목 상권
1497,1497,04000,"POLYGON ((948100.000 1950700.000, 948100.000 1...",131.0,9.0,1,9.0,948150,1950750,126.912989,37.554580,대한민국 서울특별시 마포구 서교동 479-4,2.0,골목 상권
1780,1780,04000,"POLYGON ((949000.000 1951200.000, 949000.000 1...",58.0,9.0,1,9.0,949050,1951250,126.923159,37.559055,대한민국 서울특별시 마포구 서교동 동교로 211-7,3.0,골목 상권
1370,1370,03000,"POLYGON ((947700.000 1951700.000, 947700.000 1...",181.0,9.0,1,9.0,947750,1951750,126.908469,37.563530,대한민국 서울특별시 마포구 성산1동 275-64,2.0,골목 상권
777,777,04000,"POLYGON ((946100.000 1952700.000, 946100.000 1...",413.0,9.0,1,9.0,946150,1952750,126.890389,37.572480,대한민국 서울특별시 마포구 상암동 44,0.0,0
2437,2437,04000,"POLYGON ((951800.000 1949600.000, 951800.000 1...",242.0,9.0,1,9.0,951850,1949650,126.954799,37.544735,대한민국 서울특별시 마포구 신공덕동 15-82,2.0,골목 상권
2236,2236,02000,"POLYGON ((951000.000 1948600.000, 951000.000 1...",421.0,8.5,1,8.5,951050,1948650,126.945759,37.535785,대한민국 서울특별시 마포구 마포동 296-3,2.0,골목 상권
1391,1391,02000,"POLYGON ((947800.000 1950300.000, 947800.000 1...",358.0,8.5,1,8.5,947850,1950350,126.909599,37.551000,대한민국 서울특별시 마포구 합정동 390-14,3.0,골목 상권
1062,1062,02000,"POLYGON ((946900.000 1951300.000, 946900.000 1...",359.0,8.5,1,8.5,946950,1951350,126.899429,37.559950,대한민국 서울특별시 마포구 망원2동 439-9,3.0,골목 상권
1094,1094,02000,"POLYGON ((947000.000 1950800.000, 947000.000 1...",307.0,8.5,1,8.5,947050,1950850,126.900559,37.555475,대한민국 서울특별시 마포구 망원동 418-3,3.0,골목 상권
1063,1063,01000,"POLYGON ((946900.000 1951400.000, 946900.000 1...",394.0,8.5,1,8.5,946950,1951450,126.899429,37.560845,대한민국 서울특별시 마포구 망원2동 방울내로9안길 68-10,3.0,골목 상권
2230,2230,01000,"POLYGON ((950900.000 1950500.000, 950900.000 1...",346.0,8.5,1,8.5,950950,1950550,126.944629,37.552790,대한민국 서울특별시 마포구 대흥동 22-160,3.0,골목 상권
1136,1136,01000,"POLYGON ((947100.000 1951100.000, 947100.000 1...",416.0,8.5,1,8.5,947150,1951150,126.901689,37.558160,대한민국 서울특별시 마포구 망원2동 월드컵로29길 91,2.0,골목 상권
1362,1362,01000,"POLYGON ((947700.000 1950900.000, 947700.000 1...",280.0,8.5,1,8.5,947750,1950950,126.908469,37.556370,대한민국 서울특별시 마포구 망원동 374-4,3.0,골목 상권
1208,1208,02000,"POLYGON ((947300.000 1950500.000, 947300.000 1...",288.0,8.5,1,8.5,947350,1950550,126.903949,37.552790,대한민국 서울특별시 마포구 망원동 396-5,3.0,골목 상권
1264,1264,02000,"POLYGON ((947400.000 1952200.000, 947400.000 1...",457.0,8.5,1,8.5,947450,1952250,126.905079,37.568005,대한민국 서울특별시 마포구 성산동 171-2,2.0,골목 상권
2361,2361,02000,"POLYGON ((951500.000 1948900.000, 951500.000 1...",565.0,8.5,1,8.5,951550,1948950,126.951409,37.538470,대한민국 서울특별시 마포구 도화동 353-3,2.0,골목 상권
1528,1528,01000,"POLYGON ((948200.000 1950500.000, 948200.000 1...",258.0,8.5,1,8.5,948250,1950550,126.914119,37.552790,대한민국 서울특별시 마포구 서교동 381-14,3.0,골목 상권
1324,1324,01000,"POLYGON ((947600.000 1950700.000, 947600.000 1...",337.0,8.5,1,8.5,947650,1950750,126.907339,37.554580,대한민국 서울특별시 마포구 망원동 57-106,3.0,골목 상권
1209,1209,02000,"POLYGON ((947300.000 1950600.000, 947300.000 1...",330.0,8.5,1,8.5,947350,1950650,126.903949,37.553685,대한민국 서울특별시 마포구 망원동 397-9,3.0,골목 상권
1325,1325,01000,"POLYGON ((947600.000 1950800.000, 947600.000 1...",299.0,8.5,1,8.5,947650,1950850,126.907339,37.555475,대한민국 서울특별시 마포구 망원동 412-165,3.0,골목 상권

In [437]:
df2['address'] = '0'

위도 및 경도에 따른 좌표 주소 크롤링

In [439]:
for i in tqdm.trange(len(df2)):
    x = df2["x"][i]
    y = df2["y"][i]
    add = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+ str(y) +',' + str(x) + '&language=ko&key=AIzaSyBSdIgOSvknEhDtxxXrXOFKn-JFXNO73fU'
    r = requests.get(add)
    df2['address'][i] = r.json()['results'][0]['formatted_address']

  0%|                                                                                         | 0/2570 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

100%|██████████████████████████████████████████████████████████████████████████████| 2570/2570 [16:47<00:00,  2.55it/s]

In [436]:
x = df2["x"][1200]
y = df2["y"][1200]
add = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+ str(y) +',' + str(x) + '&language=ko&key=AIzaSyBSdIgOSvknEhDtxxXrXOFKn-JFXNO73fU'
r = requests.get(add)
print(r.json()['results'][0]['formatted_address'])

대한민국 서울특별시 마포구 합정동 465-16

In [451]:
df2.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2570 entries, 0 to 2569
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     2570 non-null   int64
 1   lbl       1330 non-null   object
 2   geometry  2570 non-null   geometry
 3   val       1245 non-null   float64
 4   pop       2570 non-null   float64
 5   wifi      2570 non-null   int64
 6   f_score   2570 non-null   int64
 7   center_x  2570 non-null   int64
 8   center_y  2570 non-null   int64
 9   x         2570 non-null   float64
 10  y         2570 non-null   float64
 11  address   2570 non-null   object
 12  popu      2570 non-null   float64
dtypes: float64(5), geometry(1), int64(5), object(2)
memory usage: 361.1+ KB

In [492]:
f_df = df2[['index','lbl','val','popu','pop','wifi','f_score','address','group']].sort_values(by = 'f_score', ascending = False)

In [483]:
f_df.head()

,index,lbl,val,popu,pop,wifi,f_score,address,group
2504,2504,04000,378.0,4.0,12.0,1,12.0,대한민국 서울특별시 마포구 아현동 420-1,주요 상권
2265,2265,03000,0.0,7.0,12.0,1,12.0,대한민국 서울특별시 마포구 도화동 250-10,주요 상권
2314,2314,04000,272.0,3.0,11.0,1,11.0,대한민국 서울특별시 마포구 도화동 548,주요 상권
2283,2283,01000,256.0,5.0,10.5,1,10.5,대한민국 서울특별시 마포구 염리동 9-43,주요 상권
1328,1328,03000,104.0,4.0,10.0,1,10.0,대한민국 서울특별시 마포구 망원2동 482-5,주요 상권

In [493]:
f_df.to_excel('new_wifi_point.xlsx')

In [463]:
df2.to_file('ex_wifi1.shp', encoding = 'cp949')

In [2]:
df2.to_excel('ex_wifi.xlsx')

NameError: name 'df2' is not defined

In [465]:
f_df.iloc[100]

index                        1983
lbl                         02000
val                           699
popu                            0
pop                           7.5
wifi                            1
f_score                       7.5
address    대한민국 서울특별시 마포구 창전동 438
Name: 1983, dtype: object